# Dependencies
node_modules/

# Environment variables (VERY IMPORTANT)
.env

# Logs
logs
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Build folders
dist/
build/

# Coverage
coverage/

# Temporary files
tmp/
temp/

# Optional (if you use uploads locally)
uploads/